.menu .btn {
    padding: 10px 20px;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.menu .btn.inactive {
    background: #6c757d; /* gris */
}

.menu .btn.active {
    background: #0d6efd; /* bleu */
}

.menu{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}